name: Aptos

on:
  push: {}

defaults:
  run:
    shell: nix shell .#af-cli --command bash {0}

env:
  TERM: xterm-color

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v17
      - uses: cachix/cachix-action@v10
        with:
          name: deploydao
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: aptos, m

      - name: Move package cache
        uses: actions/cache@v3
        with:
          path: ~/.move
          key: ${{ runner.os }}-packages-${{ hashFiles('Move.toml') }}
          restore-keys: |
            ${{ runner.os }}-packages-

      - run: af-cli package build
      - run: af-cli package test --coverage
      - run: af-cli package coverage summary --summarize-functions
      - continue-on-error: true
        run: |
          find build/*/bytecode_modules -maxdepth 1 -type f -iname "*.mv" -execdir basename '{}' .mv ';' \
            | xargs -n 1 af-cli package coverage source --module;
